@media screen and (max-width: 700px){

    .text-2{
        font-size: 25px;
    }

    .preparation span{
        font-size: 40px;
    }

    .preparation p{
        font-size: 30px;
    }
}








@media screen  and (max-width: 600px){
   
    section{
    margin: 2rem;
    box-sizing:border-box;
    background-color:  hsl(30, 54%, 90%);
    } 

    section #container-1{
        text-align: center;
    }

     .showcase img{
        width: 100%;
    } 

    .text-1{
        font-size: 20px;
        font-weight: 500;
        color:  hsl(24, 5%, 18%);
    }

    .text-2{
        width: 340px;
        font-size: 15px;
        font-weight: 100;
    }
    .preparation h1{
   font-size: 25px;
    color:  hsl(332, 51%, 32%);
}

.preparation p{
    font-size: 15px;
}

.preparation span{
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
   
}


.flex{
    justify-content: space-around; 
}
}